.title-slide .remark-slide-number {
  display: none;
}

  
.large { font-size: 160% }

.bg1{
   background-color: #002F6C;
}

.bg2{
   background-color: #ED8B00;
}

.bg3{
   background-color: #DC4405;
}

.bg4{
   background-color: #007398;
}

.bg5{
   background-color: #7FA9AE;
}
.bg6{
   background-color: #B1B3B3;
}
.bg7{
   background-color: #565a5c;
}
